.app {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;


}
body{
  background-image: url(./img/codizebr_cover.jpg);
}

ul {  
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #6c92c9;
  border-radius: 5px;
 
}

li label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

li.completed label {
  text-decoration: line-through;
  color: #2ec27d;
}

input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}





